<!DOCTYPE html>
<html>
    <head>
        <title>Nancy's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Nancy's Blog</a></h1>
        </header>

        <article>
            <h2><a href="">My first post</a></h2>
            <p>This is my very first post yay.</p>
            <time>published: 22.03.2025, 3:22</time>

        </article>

        <article>
            <time>published: 22.03.2025, 3:22</time>
            <h2><a href="">My second post</a></h2>
            <p>This is my very second post yay.</p>
            <time>published: 22.03.2025, 3:22</time>

        </article>
    </body>
</html>